// Typography
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Typographic Variables
//////////////////////////////////////////////////////

// Good line-height and letter-spacing
$line-height-base: 1.428571429;
$normal-letter-spacing: normal;

// Guide

$font-large-coefficient: 3.24;
$font-normal-coefficient: 1.46725;
$font-small-coefficient: 1.1;
$font-xsmall-coefficient: 0.978;

$font-size-base-bootstrap: 16px;

$font-size-base: $model-pixel * 16.359;
$font-size-large: $font-size-base * $font-large-coefficient;
$font-size-normal: $font-size-base * $font-normal-coefficient;
$font-size-small: $font-size-base * $font-small-coefficient;
$font-size-xsmall: $font-size-base * $font-xsmall-coefficient;

$line-height-computed: $font-size-base-bootstrap * $line-height-base;

$line-height-computed-custom: $font-size-base * $line-height-base;
$line-height-large-custom: $line-height-computed-custom * $font-large-coefficient;
$line-height-normal-custom: $line-height-computed-custom * $font-normal-coefficient;
$line-height-small-custom: $line-height-computed-custom * $font-small-coefficient;
$line-height-xsmall-custom: $line-height-computed-custom * $font-xsmall-coefficient;

$sans-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$sans-regular-font-weight: 400;
$sans-bold-font-weight: 700;
$sans-extrabold-font-weight: 800;

/*
$serif-font-family: "Roboto Condensed", Georgia, Times New Roman, sans-serif;
$serif-light-font-weight: 300;
$serif-bold-font-weight: 700;
*/

// Typographic Mixin - поправить под общий случай!!!
//////////////////////////////////////////////////////

// Используем одну, только одну, Карл, универсальную примесь для всех случаев!!!!!!!!!!

@mixin text($font-family, $font-size, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $normal-letter-spacing;

    @if $font-size == $font-size-large {
        line-height: $line-height-large-custom;
    } @else if $font-size == $font-size-normal {
        line-height: $line-height-normal-custom;
    } @else if $font-size == $font-size-small {
        line-height: $line-height-small-custom;
    } @else if $font-size == $font-size-xsmall {
        line-height: $line-height-xsmall-custom;
    } @else {
        line-height: floor(($font-size * $line-height-base));
    }
}


// Typographic Base
//////////////////////////////////////////////////////

body {
    font-family: $sans-font-family;
    font-size: $font-size-base-bootstrap;
}

a {
    font-family: $sans-font-family;
    font-weight: $sans-regular-font-weight;
}

// Обычный параграф
p {
    @include text($sans-font-family, $font-size-normal, $sans-regular-font-weight);
    margin-bottom: $size;
}

// Заголовки по умолчанию

h1 {
    @include text($sans-font-family, $font-size-large, $sans-extrabold-font-weight);
}

h2 {
    @include text($sans-font-family, $font-size-large, $sans-bold-font-weight);
}

h3 {
    @include text($sans-font-family, $font-size-normal, $sans-regular-font-weight);
}

h4 {
    @include text($sans-font-family, $font-size-small, $sans-bold-font-weight);
}

h5 {
    @include text($sans-font-family, $font-size-small, $sans-regular-font-weight);
}

h6 {
    @include text($sans-font-family, $font-size-xsmall, $sans-bold-font-weight);
}

h1, h2, h3 {
    &:first-child {
        margin-top: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    color: $main-color;
}

strong {
    font-weight: bold;
}



// Custom Icon Fons
//////////////////////////////////////////////////////

$custom-font-path: "../../web/fonts/custom-font/";
$custom-font-name: "fontello";

@font-face {
    font-family: #{$custom-font-name};
    src: url("#{$custom-font-path}#{$custom-font-name}.eot?");
    src: url("#{$custom-font-path}#{$custom-font-name}.eot?#iefix") format("embedded-opentype"),
         url("#{$custom-font-path}#{$custom-font-name}.woff?") format("woff"),
         url("#{$custom-font-path}#{$custom-font-name}.woff2?") format("woff2"),
         url("#{$custom-font-path}#{$custom-font-name}.ttf?") format("truetype"),
         url("#{$custom-font-path}#{$custom-font-name}.svg?#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}

// Правила для лучшего рендеринга шрифта
.icon {
    text-rendering: auto; // optimizelegibility throws things off #1094
    transform: translate(0, 0);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased !important; // включаем самый "жирный" режим сглаживания
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

// http://fontello.com/
 [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: #{$custom-font-name};
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.icon-close:before { content: '\e800'; } /* '' */
.icon-up:before { content: '\e801'; } /* '' */
.icon-down:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-left:before { content: '\e804'; } /* '' */
.icon-navicon:before { content: '\e805'; } /* '' */